<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <title>Line Order and Delivery Application</title>
    </head>
    <body>
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-10">
					<h4 class="mt-2">Line Order and Delivery Application</h4>
					<hr class="mt-0 mb-4">
					{% load crispy_forms_tags %}
					{% block content %}
						<form action="result/" method="post" novalidate>
						  {% csrf_token %}
						  {{ form|crispy }}
						  <button type="submit" class="btn btn-primary">Submit Order</button>					  
						</form>
					{% endblock %}
				</div>
			</div>
		</div>
    </body>    
</html>
